.DS_Store
.idea/
certificates/*
ecasclient.log
**/Properties/config.json
/vendor
composer.lock
docker-compose.yml
/demo/.web-server-pid
/demo/app/config/parameters.yml
/demo/build/
/demo/phpunit.xml
/demo/var/*
!/demo/var/cache
/demo/var/cache/*
!/demo/var/cache/.gitkeep
!/demo/var/logs
/demo/var/logs/*
!/demo/var/logs/.gitkeep
!/demo/var/sessions
/demo/var/sessions/*
!/demo/var/sessions/.gitkeep
!/demo/var/SymfonyRequirements.php
/demo/vendor/
/demo/web/bundles/
/log/
