imports:
  - { resource: vendor/openeuropa/code-review/dist/library-conventions.yml }
parameters:
  tasks.phpcs.ignore_patterns:
    - vendor/
    - demo-client/
    - demo-server/
    - spec/
  tasks.phpmd.exclude:
    - vendor/
    - demo-client/
    - demo-server/
    - spec/
  extra_tasks:
    phpspec:
      format: pretty
      stop_on_failure: true
      verbose: true
    securitychecker:
      lockfile: ./composer.lock
      format: ~
      end_point: ~
      timeout: ~
      run_always: false
  extensions:
    - OpenEuropa\CodeReview\ExtraTasksExtension