{% extends 'base.html.twig' %}

{% block body %}
    <h2>CAS Server login form</h2>
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

